/* ================================
   Web App Boilerplate - Main CSS
   ================================ */

/* Native Tags */
body {
    padding: 20px;
}

/* App View */
#app-view {
    background-color: #E53935;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/* Header */
.navbar {
    background-color: #B71C1C;
    margin-top: -10px; 
}
#header {
    margin: 0 10px 10px 10px;
}
.navbar a.navbar-brand {
    color: #fff;
    outline: none;
}
p.navbar-text {
    color: #FFFFFF;
    outline: none;
}
.navbar ul li a {
    color: rgba(255,255,255,.7);
    outline: none;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}
.navbar ul li a:hover, .navbar ul li a:focus {
    color: rgba(0,0,0,.54);
    background-color: #FFCDD2;
    text-decoration: underline;
    margin: -5px;
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}
.navbar ul li a:active {
    background-color: #E57373;
}

/* Page Views */
.page-view > h3 {
    margin-left: 20px;
}

/* Buttons */
button#btn-add-new.btn.btn-default {
    background-color: #536DFE;
    border-color: #3D5AFE;
    color: rgba(255,255,255,.7);
    outline: none;
    position: relative;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    transition: 0.5s ease-in-out;
}
button#btn-add-new.btn.btn-default:hover, button#btn-add-new.btn.btn-default:focus {
    background-color: #8C9EFF;
    border-color: #536DFE;
    color: rgba(0,0,0,.87);
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}
button#btn-settings.btn.btn-default {
    background-color: #536DFE;
    border-color: #3D5AFE;
    color: rgba(255,255,255,.7);
    outline: none;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    transition: 0.5s ease-in-out;
}
button#btn-settings.btn.btn-default:hover, button#btn-settings.btn.btn-default:focus {
    background-color: #8C9EFF;
    border-color: #536DFE;
    color: rgba(0,0,0,.87);
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}
button#btn-settings.btn.btn-default:active, button#btn-add-new.btn.btn-default:active {
    background-color: #536DFE;
}

button#btn-expand.close, button#btn-remove.close {
    color: rgba(0,0,0,.87);
    outline: none;
    padding-left: 10px;
}

/* Places List/Dashboard box */

#places-list {
    padding: 20px;
    background-color: #fff;
    color: rgba(0,0,0,.54);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
#places-list.clearfix {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
#places-list .panel {
    width: 300px;
    // height: 675px;
    float: left;
    margin-right: 20px;
    overflow: hidden;
}
#page-dash h3 {
    color: #fff;
}

/* Detail Settings - WORK IN PROGRESS */
// #place-list .panel .detail {
//     width: 1152px;
// }
// #places-list .panel .panel-body{
//     width: 1136px;
// }


/* Modal Window */
h4.modal-title {
    background-color: #B71C1C;
    color: #fff;
    padding: 10px;
}
.modal-body {
    background-color: #E53935;
    color: rgba(255,255,255,.7);
    padding: 10px;
}
span#label {
    font-size: 10px;
    text-decoration: none;
}
#btn-save, #btn-add {
    background-color: #536DFE;
    border-color: #3D5AFE;
    color: rgba(255,255,255,.7);
    outline: none;
    position: relative;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    transition: 0.5s ease-in-out;
}
#btn-save:hover, #btn-save:focus, #btn-add:hover, #btn-add:focus {
    background-color: #8C9EFF;
    border-color: #536DFE;
    color: rgba(0,0,0,.87);
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}

/* Forecast Days */
.panel.panel-info .panel-heading {
    background-color: #304FFE;
    border-color: #304FFE;
    margin: 5px;
}
.panel.panel-info {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
h3.panel-title {
    color: #fff;
}
.forecast-day {
    border: 1px solid #8C9EFF;
    color: rgba(0,0,0,.87);
    padding: 10px;
    width: 268px;
    float: left;
    margin-right: 16px;
    transition: 0.5s ease-in-out;
}
.forecast-day:hover, .forecast-day:focus {
    background-color: #536DFE;
    color: rgba(255,255,255,.7);
}
.forecast-day h3 {
    margin-top: -1px;
}
.forecast-day img{
    float: left;
    margin: 10px;
}
.forecast-day p{
    font-size: 26px;
}
.celsius .forecast-day .forecast-fahr{
    display: none;
}
.fahrenheit .forecast-day .forecast-cel{
    display: none;
}

/* About */
#page-about h3 {
    color: #fff;
}
p#about-p {
    background-color: #fff;
    color: rgba(0,0,0,.54);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
p#about-p a {
    color: #536DFE;
    text-decoration: none;
    outline: none;
    transition: 0.25s ease-in-out;
}
p#about-p a:visited {
    color: #8C9EFF;
    text-decoration: underline;
}
p#about-p a:hover, p#about-p a:focus {
    color: #304FFE;
    background-color: rgba(255,255,255,.7);
    text-decoration: none;
    padding: 3px;
    margin: 2px;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
p#about-p a:active {
    color: rgba(0,0,0,.57);
}